<h3>Update Office Details</h3>
<%= form_with model: @office do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :post, placeholder: "post" %>
  <%= form.text_field :email, placeholder: "email" %>
  <%= form.submit %>
<% end %>
