<h1>Shopes New</h1>
<%= form_for @shope do |form| %>
  <%= form.text_field :product_name, placeholder: "product_name" %>
  <%= form.text_field :size, placeholder: "size" %>
  <%= form.text_field :price, placeholder: "price" %>
  <%= form.submit %>
<% end %>
